.button {
    position: relative;
    left: 958px; 
    top: 260px;
    width: 200px;
    height: 40px;
    padding: 0;
    border: none;
    background: none;
}

.button input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}

.button2 {
    position: relative;
    left: 755px; 
    top: 315px;
    width: 200px;
    height: 40px;
    padding: 0;
    border: none;
    background: none;
}

.button2 input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}

.button3 {
    position: relative;
    left: 615px; 
    top: 389px;
    display: inline-block;
    border-radius: 5px;
    background-color: #DFDFDF;
    color: black;
    text-align: center;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
  }
  
  #login {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .button3:hover{
    background-color: #C11616;
  }

  .button4 {
    position: relative;
    left: 1250px; 
    top: 50px;
    display: inline-block;
    border-radius: 5px;
    background-color: #DFDFDF;
    color: black;
    text-align: center;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
  }
  
  #account {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .button4:hover{
    background-color: #C11616;
  }
